
.git
.gitignore
.dockerignore


dist
**/dist
.next/
**/.next/
node_modules
**/node_modules


.env
!.env.build
!.env.example

Dockerfile
Dockerfile.debug
README.md
.eslintrc.json
.eslintrc.js
.prettierrc
